{{ define "title" }}<title>cumuli | about</title>{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" type="text/css" href="/static/css/tipsy.css">
{{ end }}

{{ define "navitems"}}
<li><a href="/">Home</a></li>
<li class="active"><a href="/about">About</a></li>
<li><a href="https://github.com/lkvnstrs/cumuli">Source</a></li>
{{ end }}

{{ define "content" }}
<div class="inner cover">

    <h2 class="about-heading">Instructions</h2>
    <!-- One -->
    <div class="row">
        <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <svg width="126px" height="126px" viewBox="0 0 126 126" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                <title>cumuli_logo 2</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <circle id="Oval-6" fill="#FA6900" sketch:type="MSShapeGroup" cx="63" cy="63" r="14"></circle>
                </g>
            </svg>
            <div class="about-description">
                <p>Show your favorite artist by going to <b><a href="/u/soundcloudname">/u/soundcloudname</a></b>.<br>They're represented by that lonely, orange bubble.</p>
            </div>
        </div>

        <!--Two -->
        <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <svg width="126px" height="126px" viewBox="0 0 126 126" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                <title>cumuli_logo 3</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path d="M52.7663179,106.255965 L25.2336821,76.7440354" id="Line-6" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <path d="M100.766318,50.2559646 L73.2336821,20.7440354" id="Line-9" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <path d="M100.5,76.5 L73.5,106.5" id="Line-5" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <circle id="Oval-7" class="clickable" original-title="user2" fill="#FA6900" sketch:type="MSShapeGroup" cx="112" cy="63" r="14"></circle>
                    <path d="M53.5,20.5 L26.5,50.5" id="Line-4" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <circle id="Oval-8" fill="#4A93A2" class="clickable" original-title="follow2" sketch:type="MSShapeGroup" cx="63" cy="63" r="10"></circle>
                    <circle id="Oval-11" fill="#4A93A2" class="clickable" original-title="follow3" sketch:type="MSShapeGroup" cx="63" cy="116" r="10"></circle>
                    <circle id="Oval-9" fill="#4A93A2" class="clickable" original-title="follow1" sketch:type="MSShapeGroup" cx="63" cy="10" r="10"></circle>
                    <path d="M31.5,63 L48.5,63" id="Line-7" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <path d="M76.5,63 L93.5,63" id="Line-8" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <circle id="Oval-10" class="clickable" original-title="user1" fill="#FA6900" sketch:type="MSShapeGroup" cx="14" cy="63" r="14"></circle>
                </g>
            </svg>
            <div class="about-description">
                <p>Add more names to the URL to see some blue bubbles representing the artists they all follow, such as <b><a href="/u//u/user1+user2">/u/user1+user2</a></b><br>Click the bubbles to see who's who.</p>
            </div>
        </div>

        <!-- Three -->
        <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <svg width="126px" height="126px" viewBox="0 0 126 126" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                <title>cumuli_logo 4</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path d="M52.7663179,106.255965 L25.2336821,76.7440354" id="Line-10" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <path d="M100.5,76.5 L73.5,106.5" id="Line-12" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <circle id="Oval-12" fill="#FA6900" sketch:type="MSShapeGroup" cx="112" cy="63" r="14"></circle>
                    <circle id="Oval-13" fill="#4A93A2" sketch:type="MSShapeGroup" cx="63" cy="63" r="14"></circle>
                    <circle id="Oval-14" fill="#4A93A2" sketch:type="MSShapeGroup" cx="63" cy="116" r="10"></circle>
                    <path d="M32.5,63 L46.5,63" id="Line-14" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <path d="M79.5,63 L93.5,63" id="Line-15" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <path d="M63,32.511649 L63,45.4999998" id="Line-16" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                    <circle id="Oval-16" fill="#FA6900" sketch:type="MSShapeGroup" cx="14" cy="63" r="14"></circle>
                    <circle id="Oval-17" fill="#FA6900" sketch:type="MSShapeGroup" cx="63" cy="14" r="14"></circle>
                </g>
            </svg>
            <div class="about-description">
                <p>The more artists you add,<br>the more interesting the diagrams get. A bigger blue bubble represents an artist more of your artists follow.</p>
            </div>
        </div>
    </div>

    <h2 class="about-heading">Examples</h2>
    <div class="row">
        <div class="col-md-12">
            <a href="/u/skrillex+diplo+jacku">Skrillex, Diplo, and JackU</a><br>
            <a href="/u/djembadjemba+samgellaitry+mr_carmack">Djemba Djemba, Sam Gellaitry, and Mr. Carmack</a><br>
            <a href="/u/onechiefs+thisispvris+joshpan+nghtmre+japanesewallpaper+lukevanseters">CHIEFS, PVRIS, Josh Pan, NGHTMRE, Japanese Wallpaper, and me</a><br>
        </div>    
    </div>
</div>
{{ end }}

{{ define "scripts" }}
<script src="/static/js/jquery.tipsy.js"></script>
<script src="/static/js/about.js"></script>
{{ end }}