{{ define "title" }}<title>cumuli | hi</title>{{ end }}

{{ define "navitems"}}
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="https://github.com/lkvnstrs/cumuli">Source</a></li>
{{ end }}

{{ define "content" }}
<div id="spinner-box">
</div>
<div id="graph">
</div>
{{ end }}

{{ define "scripts" }}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://fgnass.github.io/spin.js/spin.min.js"></script>
<script src="/static/js/map.js" id="soundcloud-map" jsonPath={{ . }}></script>
{{ end }}